body {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 400px;
    height: 500px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 15px;
}

.container h1 {
    color: #0f2027;
    text-align: center;
}

.input-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-right: 20px;
}

.input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 12px;
    height: 13px;
}

.card-btn {
    margin-top: 1rem;
    width: 100%;
    background-color: transparent;
    border: 1px solid #bc1e4a;
    color: black;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.card-btn:hover {
   background-color: #bc1e4a;
}

.sign-up-text {
    transition: all 0.3s ease;
}

.card-btn:hover .sign-up-text {
    transform: translateX(10px);
}

.spinner {
    transition: all 0.5s ease;
}

.card-btn:hover .spinner {
    transform: translateX(-50px);
}

.spinner:before,
.spinner:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #bc1e4a;
    opacity: 0;
    transform: translateX(-100%);
    animation: loading 1s infinite;
}

.spinner:after {
    animation-delay: 0.5s;
}

@keyframes loading {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    50% {
        transform: translateX(100%);
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}